.app__container {
  border: 1px solid #ccc;
  overflow-y: scroll;
  .btn-floating {
    border-radius: 50%;
  }
}
.app__container::-webkit-scrollbar {
  display: none;
}
#form3Example5 {
  padding-right: 3rem;
}
.pass__icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
}
