.menu-box {
  padding: 70px 0px;
  .heading-title {
    margin-bottom: 50px;
    h2 {
      color: #010101;
      font-size: 28px;
      font-family: "Arbutus Slab", serif;
    }
    p {
      font-size: 18px;
      font-weight: 200;
      margin: 0px;
    }
  }
  .lunch {
    padding: 2rem 0.5rem 0rem 0.5rem;
    cursor: pointer;
    position: relative;
    &:hover {
      border: 1px solid rgb(235, 113, 0);
      .icon__cart {
        display: block;
      }
    }
    .icon__cart {
      display: none;
      position: absolute;
      bottom: 0;
      right: 0%;
      background-color: rgb(235, 113, 0);
      border-radius: 3px;
      color: white;
      i {
        font-size: 1.3rem;
        padding: 1rem 0.5rem;
      }
    }
    .gallery-single {
      .img-fluid {
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
        height: auto;
      }
      .why-text {
        text-align: center;
        h4 {
          color: #000;
          font-size: 24px;
          font-weight: 500;
        }
        p {
          color: #000;
          font-size: 18px;
          border-bottom: 1px dashed #010101;
          margin: 0px;
          padding-bottom: 15px;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        h5 {
          font-size: 28px;
          font-weight: 600;
          color: #000;
        }
      }
    }
  }
}
.filter-button-group {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  margin: 10px 15px;
  display: inline-block;
  button {
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    &.active {
      background: #cfa671;
      color: #fff;
      box-shadow: 2px 20px 45px 5px rgb(0 0 0 / 20%);
    }
  }
}
.search {
  font-size: 1rem;
  position: relative;

  input {
    border-radius: 8px;
    outline: none;
    padding: 2px 1rem;
    border: 2px solid #666;
    width: 65%;
    max-width: 65%;
  }
  .icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.filter {
  font-size: 1rem;
  select {
    padding: 0.2rem 1rem;
    margin: 0 0.5rem;
  }
}
